@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.for {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.sig {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 74%;
  width: 49%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1.1fr;
  z-index: 5;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.btn {
  width: 150px;
  background-color: #5CE1E6;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #5CE1E6;
}
.holders-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 1999px;
  width: 1999px;
  top: -11%;
  right: 47%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #5CE1E6 0%, #5CE1E6 100%);
 
  border-radius: 50%;

}

.image {
  width: 100%;
 
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-holder {
  pointer-events: all;
  padding: 2.9rem 16.9% 1.9rem 11.9%;
}

.right-holder {
  pointer-events: none;
  padding: 2.9rem 11.9% 1.9rem 16.9%;
}

.holder .content {
  color: #fff;

}

.holder h3 {
  font-weight: 599;
  line-height: 1;
  font-size: 1.4rem;
}

.holder p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 200px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}



.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  
  height: 15px;
  width: 100%;
  background: #d3d3d3;
  border-radius: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #5CE1E6;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #5CE1E6;
  border-radius: 50%;
  cursor: pointer;
}
